body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.button{
  border: none;
  outline: none;
  color: white;
  background-color: #998431;
  text-transform: uppercase;
  padding: 15px 30px;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.05em;
}

.text{
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.container{
  width: 1110px;
  margin: 0 auto;
}

.title {
  font-family: Playfair Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;

  &::after {
    content: "";
    border-bottom: 1px solid white;
    position: absolute;
  }
}

a{
  text-decoration: none;

}

.header {
  height: 869px;
  .container {
    .contact-information {
      display: flex;
      justify-content: space-between;
      place-items: center;
      margin-bottom: 20px;
      margin-top: 30px;
      .address {
      }

      .number {
      }
      .address,.number{
        color: white;
        font-family: Montserrat;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: right;

      }
    }
    .navigation{
      .menu{
        list-style-type: none;
        display: flex;
        padding-left: 0px;
        justify-content: space-between;
        .menu__item {
          border: 1px solid white;
          /* height: 40px; */
          padding: 13px 0px;
          width: 277.5px;
          text-align: center;

          &:last-child,&:first-child{
            border-left: none;
            border-right: none;
          }
          a{
            color: white;
            font-family: 'Montserrat';
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: center;
          }
        }
      }
    }

  }
  .bg-image{
    background-image: url('../../assets/images/bg-image.png');
    background-size: cover;
    place-content: center;
    height: 900px;
    position: relative;
    top: -161px;
    z-index: -1;
    background-position: center;
  }
  .button-wrapper{
    display: flex;
    justify-content: center;
    position: relative;
    top: 78%;

    .wine-list{
      margin-right: 30px;
    }
    .wine-tasting{}
  }
}

.description {
  background-color: #282828;
  color: white;
  padding: 100px 0px;

  .descriprion-wrapper {
    padding: 60px 187px;
    text-align-last: center;
    width: 736px;
    margin: 0 auto;
    border: 1px solid white;

  }

  &__text {
    margin-bottom: 50px;
    text-align: center;
  }

  &__title {
    margin-bottom: 80px;

    &::after {
      width: 160px;
      right: 45%;
      padding-top: 40px;
    }
  }

  img {
  }
}

.collection{
  background: #E6E3C4;
  padding: 80px 0px;
  .collection-wrapper{
    border: 1px solid #998431;
    border-left: none;
    border-right: none;
    padding: 60px 0px;
    display: flex;
    justify-content: space-between;
    .information-wrapper{
      max-width: 445px;
    }
    &__text{}
    &__title{
      margin-bottom: 60px;
      &::after {
        width: 160px;
        right: 45%;
        padding-top: 30px;
      }
    }
    .subtitle{
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px;
      text-align: left;
      margin: 30px 0px;
    }
    .table{
      .wrap{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        border-bottom: 1px solid #282828;

        .year{
          margin-top: 31px;
          margin-bottom: 26px;
          font-family: Montserrat;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 21px;
        }
      }
      .title-wrap{
          border-left: 1px solid;
          padding-left: 30px;
      }

      &__title-eng{
        font-family: Playfair Display;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 27px;
        margin-top: 10px;
        margin-bottom: 0px;
      }
      &__title-rus{
        margin-top: 5px;
        margin-bottom: 15px;
      }
    }
    .images-wrapper{
      max-width: 540px;
      img{
        &:first-child{
          margin-bottom: 30px;
        }
        &:last-child{
          margin-left: 26px;
        }
      }
    }
  }

}
